:root {
    --title: #4e4e4e;
}

html {
    font-family: 'Courier New', Courier, monospace;
    color: var(--title);
}

body {
    background-image: url(./bgimg1.png);
}

a {
    color: var(--title);
}

ul {
    list-style-type: none;
    font-weight: 600;
    font-size: 24px;
}

#title {
    font-size: 42px;
    padding-left: 200px;
    transform: translate(-10px, 30vh);
    border-bottom: 5px solid var(--title);
    max-height: 100px;
    max-width: 720px;
}

#menubar {
    position: absolute;
    bottom: 30px;
    right: 30px;
}

#menubar ul, li {
    display: inline;
    padding: 0px 8px;
}

#menubar li :hover{
    color: white;
}

.container {
    display: flex;
    justify-content: center;
    transform: translate(0, 16vh);
}

.container .person {
    padding: 0px 40px;
}

.container h3,a {
    text-align: center;
}

.container h3 {
    font-size: 24px;
}

.container a {
    /* border-bottom: none; */
    font-weight: bold;
    display: block;
}

.container a:hover {
    color: white;
    /* border-bottom: 2px solid white; */
}

.container img {
    max-height: 40vh;
    border-radius: 50%;
}

#video {
    display: block;
    width: 95vw;
    height: 83vh;
    padding: 20px 10px;
    margin: auto;
}

#temp {
    max-width: 95vw;
    margin: auto;
    padding-top: 20px;
}

#temp p {
    font-size: 1.6em;
    padding-right: 50px;
    line-height: 1.6em;
}

#carousel {
    float: left;
    height: 85vh;
    padding-left: 20px;
    padding-right: 80px;
}