/* setting color variable to make changes easier */
:root {
    --title: #4e4e4e;
}

/* general tags */
html {
    font-family: 'Courier New', Courier, monospace;
    color: var(--title);
}

a {
    color: var(--title);
}

ul {
    list-style-type: none;
    font-weight: 600;
    font-size: 24px;
}

/* canvas-related tags */
.big-container {
    position: relative;
}

#landing {
    height: auto;
    display: flex;
    z-index: 2;
    position: absolute; 
    top: 0px; 
    left: 0px;
}

/* menu bar related tags */
#menubar {
    position: absolute;
    bottom: 30px;
    right: 30px;
    z-index: 10;
}

#menubar ul, li {
    display: inline;
    padding: 0px 8px;
}

#menubar li :hover{
    color: white;
}

/* homepage */
#title {
    position: absolute;
    font-size: 42px;
    padding-left: 200px;
    transform: translate(-10px, 35vh);
    border-bottom: 5px solid var(--title);
    max-height: 100px;
    max-width: 720px;
    z-index: 10;
}

#title h1 {
    margin: 0;
}

#title p {
    padding-top: 10px;
    font-size: 16px;
    font-weight: bold;
    text-align: right;
}

/* flexbox container on our team page */
.container {
    position: absolute;
    display: flex;
    justify-content: center;
    transform: translate(11%, 16vh);
    z-index: 10;
}

.container .person {
    padding: 0px 40px;
}

.container h3,a {
    text-align: center;
}

.container h3 {
    font-size: 24px;
}

.container a {
    border-bottom: none;
    font-weight: bold;
    display: block;
}

.container a:hover {
    color: white;
}

.container img {
    max-height: 40vh;
    border-radius: 50%;
}

/* video on watch page */
#video {
    position: absolute;
    display: block;
    width: 95vw;
    height: 83vh;
    padding: 20px 10px;
    margin: auto;
    z-index: 10;
}